@media (max-width: 768px) {

    .nav-item {
        margin: auto;
        padding-bottom:50px;
    }
    .hamburger {
        display: block;
        margin-top: 0px;
        cursor: pointer;
        z-index: 1;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 23px;
        gap: 0;
        flex-direction: column;
        background-color: hsl(0, 0%, 0%);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color:#5779dd;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-item{
        margin: 32px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    #fondo-inicio{
        background-image: url(./assets/Fondo_responsive.webp);
    }
}
@media (max-width: 520px) {
    #container-1, #container-2{
        width: 50%;
    }
    #container-3{
        width: 100%;
        padding: 10px;
    }
}
